---
import type { LeafElement } from "slate-blocks/textual"

interface Props extends LeafElement {}

const props = Astro.props
const {
  text,
  to,
  href,
  target,
  bold,
  italic,
  strikethrough,
  underline,
  subscript,
  superscript,
  code,
} = Astro.props
---

{
  href ? (
    <a href={href} target={target}>
      <Astro.self
        text={text}
        bold={bold}
        italic={italic}
        strikethrough={strikethrough}
        underline={underline}
        subscript={subscript}
        superscript={superscript}
        code={code}
      />
    </a>
  ) : code ? (
    <code>
      <Astro.self
        text={text}
        bold={bold}
        italic={italic}
        strikethrough={strikethrough}
        underline={underline}
        subscript={subscript}
        superscript={superscript}
      />
    </code>
  ) : bold ? (
    <b>
      <Astro.self
        text={text}
        italic={italic}
        strikethrough={strikethrough}
        underline={underline}
        subscript={subscript}
        superscript={superscript}
      />
    </b>
  ) : italic ? (
    <i>
      <Astro.self
        text={text}
        strikethrough={strikethrough}
        underline={underline}
        subscript={subscript}
        superscript={superscript}
      />
    </i>
  ) : strikethrough ? (
    <s>
      <Astro.self
        text={text}
        underline={underline}
        subscript={subscript}
        superscript={superscript}
      />
    </s>
  ) : underline ? (
    <u>
      <Astro.self text={text} subscript={subscript} superscript={superscript} />
    </u>
  ) : subscript ? (
    <sub>
      <Astro.self text={text} superscript={superscript} />
    </sub>
  ) : superscript ? (
    <sup>
      <Astro.self text={text} />
    </sup>
  ) : (
    <span>{text}</span>
  )
}
