---
import BaseHead from "./base-head.astro"
import Footer from "./footer.astro"
import Navbar from "./navbar.astro"
import { I18nConfig } from "@/components/layout/i18n-config"
import { UrlRedirect } from "@/components/layout/url-redirect"
import { fetchGlobalSeo } from "@/queries/fetch-global-seo"
import { fetchLocales } from "@/queries/fetch-locales"
import { fetchSocials } from "@/queries/fetch-socials"
import { configLang, Lang, LocalizedPaths } from "@/utils/lang"

interface Props {
  title: string
  description?: string
  image?: string
  localizedPaths?: LocalizedPaths
  lang: Lang
}

const { title, description, image, localizedPaths, lang } = Astro.props
const [{ locales }, { socials }, { seo }] = await Promise.all([
  fetchLocales(),
  fetchSocials(),
  fetchGlobalSeo(),
])

configLang(lang)
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} image={image} payoff={seo.companyPayoff} />
  </head>
  <body>
    <UrlRedirect client:load />
    <I18nConfig lang={lang} locales={locales} client:load />

    <Navbar
      lang={lang}
      transparent={Astro.params.path === undefined}
      localizedPaths={localizedPaths}
      socials={socials}
    />

    <main class="pt-16">
      <slot />
      <!-- your content is injected here -->
    </main>

    <Footer lang={lang} />

    <section id="modals"></section>
  </body>
</html>
