---
import { BlogPostFooter } from "@/components/blog/blog-post-footer"
import { BlogPostHeader } from "@/components/blog/blog-post-header"
import { BlogPostSidebarLeft } from "@/components/blog/blog-post-sidebar-left"
import { BlogPostSidebarRight } from "@/components/blog/blog-post-sidebar-right"
import { Col } from "@/components/common/col"
import { Container } from "@/components/common/container"
import { Prose } from "@/components/common/prose"
import { Row } from "@/components/common/row"

import type { ViewProps } from "@/queries/fetch-props"

interface Props extends ViewProps<"post"> {}

const { data, lang } = Astro.props
---

<BlogPostHeader
  author={data.post.author}
  postTitle={data.post.title}
  category={data.post.primaryCategory}
  image={data.post.thumbnail}
  published={data.post.publishedAt}
  updated={data.post.editedAt}
  lang={lang}
  client:load
/>

<Prose className="pb-32 pt-20">
  <Container larger>
    <Row>
      <BlogPostSidebarLeft post={data.post} lang={lang} client:load />

      <Col className="order-2 lg:w-auto lg:flex-1">
        <article class="lg:max-w-xl lg:px-0">
          <h1 class="font-serif text-5xl leading-none">{data.post.title}</h1>

          <!-- <Markdown rawMarkdown={data.post.content} />

          <ArticleSchema
            author={data.post.author}
            title={data.post.title}
            image={data.post.image?.attributes.src}
            url={routes.blogPostPath(data.post.slug, data.post.locale)}
            excerpt={data.post.excerpt}
            content={data.post.content}
            keywords={data.post.meta_keywords}
            lang={data.post.locale}
            publishDate={data.post.published_on}
            updateDate={data.post.updated_on}
          /> -->
        </article>

        <BlogPostFooter className="mx-auto max-w-prose lg:text-lg" />
      </Col>

      <BlogPostSidebarRight />
    </Row>
  </Container>
</Prose>
