---
import ArticleBlocks from "../components/article-blocks.astro"
import { BlogPostFooter } from "@/components/blog/blog-post-footer"
import { BlogPostHeader } from "@/components/blog/blog-post-header"
import { BlogPostSidebarLeft } from "@/components/blog/blog-post-sidebar-left"
import { BlogPostSidebarRight } from "@/components/blog/blog-post-sidebar-right"
import { Col } from "@/components/common/col"
import { Container } from "@/components/common/container"
import { Prose } from "@/components/common/prose"
import { Row } from "@/components/common/row"
import { ArticleSchema } from "@/components/schema/article-schema"
import { localeToLang } from "@/utils/data-parser"
import { routes } from "@/utils/routes"
import { getSlateWordsCount } from "@/utils/slate"

import type { ViewProps } from "@/queries/fetch-props"

interface Props extends ViewProps<"post"> {}

const { data, lang } = Astro.props
---

<BlogPostHeader
  author={data.post.author}
  postTitle={data.post.title}
  category={data.post.primaryCategory}
  image={data.post.thumbnail}
  published={data.post.publishedAt}
  updated={data.post.editedAt}
  lang={lang}
  client:load
/>

<Prose className="pb-32 pt-20">
  <Container larger>
    <Row>
      <BlogPostSidebarLeft post={data.post} lang={lang} client:load />

      <Col className="order-2 lg:w-auto lg:flex-1">
        <article class="lg:max-w-xl lg:px-0">
          <h1 class="font-serif text-5xl leading-none">{data.post.title}</h1>

          <ArticleBlocks children={data.post.content ?? []} />

          <ArticleSchema
            author={data.post.author}
            title={data.post.title}
            image={data.post.thumbnail?.attributes.src}
            url={routes.blogPostPath(data.post.slug, localeToLang(data.post.locale))}
            excerpt={data.post.excerpt}
            wordCount={getSlateWordsCount(data.post.content ?? [])}
            keywords={undefined}
            lang={data.post.locale}
            publishDate={data.post.publishedAt}
            updateDate={data.post.editedAt}
          />
        </article>

        <BlogPostFooter className="mx-auto max-w-prose lg:text-lg" />
      </Col>

      <BlogPostSidebarRight />
    </Row>
  </Container>
</Prose>
