---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import "../styles/global.scss"

export interface Props {
  title?: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
const metaTitle = [title, "Etherna"]
  .filter((comp, i, self) => comp && self.indexOf(comp) === i)
  .filter(Boolean)
  .concat(title === "Etherna" ? ["Eyes wide open"] : [])
  .join(" | ")
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="google-site-verification" content="4MV0zRqX0r9mX0e4jz5j-D0h5_N6oPQNWEh1fON5M3A" />
<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate icon" href="/favicon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}
