---
import classes from "@/styles/components/layout/Footer.module.scss"

import Container from "@/components/common/Container"
import FooterColumn from "@/components/layout/FooterColumn"
import SocialMenu from "@/components/layout/SocialMenu"
import { ReactComponent as FooterLogo } from "@/images/logo-footer.svg"
import classNames from "@/utils/classnames"
import { t } from "@/utils/lang"
import routes from "@/utils/routes"

interface Props {
  lang?: string
}

const pages: any[] = []
const projects: any[] = []

const { lang } = Astro.props
---

<footer class={classes.footer}>
  <Container>
    <div class={classes.footerContainer}>
      <div class="flex w-full flex-col space-y-4 md:flex-row md:space-y-0">
        <div
          class={classNames(
            "flex flex-col space-y-4",
            "md:flex-row md:space-y-0 md:order-2 md:flex-1 md:justify-end md:space-x-20 xl:space-x-28"
          )}
        >
          <FooterColumn title={t("footer:projects")} className="md:order-2">
            {
              projects.map(project => (
                <FooterColumn.Link href={routes.pagePath(project.slug, lang)}>
                  {project.title}
                </FooterColumn.Link>
              ))
            }
          </FooterColumn>
          <FooterColumn title={t("footer:usefulLinks")} className="md:order-2">
            {
              pages.map(page => (
                <FooterColumn.Link href={routes.pagePath(page.slug, lang)}>
                  {page.title}
                </FooterColumn.Link>
              ))
            }
            <FooterColumn.Link href={routes.aboutPath(lang)}>{t("footer:about")}</FooterColumn.Link>
          </FooterColumn>
          <FooterColumn title={t("footer:legal")} className="md:order-2">
            <FooterColumn.Link href={"/brand-kit"}>{t("footer:brandKit")}</FooterColumn.Link>
            <FooterColumn.Link href="/privacy">{t("footer:privacyPolicy")}</FooterColumn.Link>
          </FooterColumn>
        </div>

        <div class="mx-auto pt-10 md:order-1 md:pt-2">
          <FooterLogo height={32} />
        </div>
      </div>

      <div class="mt-6 flex w-full flex-col space-y-4 md:flex-row md:items-center md:space-y-0">
        <SocialMenu className="mx-auto max-w-48 md:order-2 md:ml-12" />
        <p class="text-center text-xs text-gray-500 md:order-1 md:text-left">
          {t("footer:copyright", { year: `${new Date().getFullYear()}` })}
        </p>
      </div>
    </div>
  </Container>
</footer>
